
body{
    font-family: manrope;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

.sidebar-left{
 width: 50%;
}
.sidebar-right{
 width: 40%;
 padding: 20px;
}

.list-items{
 display: flex;
 align-items: center; 
}

.dash-line{
position: absolute;
margin-left: 3.5rem;
margin-top: -2.4rem;
}

.circle{
 padding: 2rem;
}

.icon{
 padding: 1rem 0;
}

.para{
 color: #1E1B1B;
 font-size: 16px;
 margin-top: -1rem;
}
.quote{
 margin-top:1rem;
}

h2{
 font-family: 'Manrope';
 font-style: normal;
 font-weight: 800;
 font-size: 54px;
}

.services{
  width: 100%;
  background-color: #F2F2F2;
  text-align: center;
}

.image1, .image2{
  display: flex;
  justify-content: center;
  padding:0.1rem;
}
.image img, .image2 img{
 padding:0.34rem ;
}

.offer{
 padding: 3rem;
}

.offer h2{
 display: flex;
 justify-content: center;
 margin: 1rem 0;
}

.card {
   background-color: #ffffff;
    padding: 3rem;
    display: flex;
    flex-flow: column;
    margin: 0.3rem;
    width: 15%;
    align-items: center;
}

.bg-warning{
 background-color: #FF6433;
 color: #ffffff;
}

.counter{
 display: flex;
 justify-content: space-around;
 padding: 3rem 0;
}

.counter .text-primary{
  font-weight: 800;
  font-size: 58px;
  color: #661CE7;
  margin-bottom: 0;
}

.learn-more{
  display: flex;
  justify-content: end;
  margin-right: 5rem;
  padding: 2rem;
}

.card-title{
 margin-top:0.75rem;
}

.content-one{
    width: 38%;
    height: 360px;
    background-color: #FF6433;
    position: absolute;
    left: 20%;
    margin-top: -22rem;
}
.content-one h3{
    text-align: center;
    margin-top: 5rem;
    color: #ffff;
    font-size: 40px;
    font-weight: bold;
    padding: 2rem 1rem;
}
.innerbg img{
    overflow: hidden;
}
.innerbg{
   display: flex;
   justify-content: center;
   position: relative;
}
.hero-bg{
    margin: 3rem 0;
}
.wrapper{
    background-color: #FAFAFA;
    padding: 4rem;
}

.branding h1{
    padding-top: 45px;
    margin-bottom: 15px;

}
